.liked-songs {
  padding: 15px;
  border-radius: 20px;
  background: rgb(200, 200, 200);
}

.profile-edit-container {
  padding: 15px;
  border-radius: 20px;
  background: rgb(200, 200, 200);
}

.alert-container {
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: block;
  box-sizing: border-box;
  border-radius: 20px;
}

.alert-message {
  display: inline-flex;
  width: 100%;
  box-sizing: border-box;
  border-radius: 20px;
}

@media only screen and (min-width: 576px) {
  .alert-container {
    max-width: 540px;
  }
}
@media only screen and (min-width: 768px) {
  .alert-container {
    max-width: 720px;
  }
}
@media only screen and (min-width: 992px) {
  .alert-container {
    max-width: 960px;
  }
}

@media only screen and (min-width: 1200px) {
  .alert-container {
    max-width: 1140px;
  }
}



