.container {
  border-radius: 20px;
  background-color: rgb(240, 240, 240);
  padding: 10px;
  margin-top: 10px;
}

.sidebar {
  margin: 20px;
  background-color: rgb(240, 240, 240);
  padding: 20px;
  border-radius: 20px;
  display: block;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 10px;
}